<h1>Hello, Rails!</h1>
<p>
  <%= link_to "Posts", controller: "posts" %>
</p>
<p></p>
<p>
  <%= link_to "Bueller", controller: "students" %>
</p>
<p>
  <%= link_to "Log In Bueller", new_session_path %>
</p>