<h1>daileyj8's rails</h1>
<p>
  <%= link_to "Posts", controller: "posts" %>
</p>
<p></p>
<p>
  <%= link_to "Index", controller: "students" %>
</p>
<p>
  <%= link_to "Log In Bueller", new_session_path %>
</p>
<p>
  <%= link_to "Attendance Page", controller: "attendances" %>
</p>