li {display:inline; list-style-type:none; padding-right:20px}
body {background-color:lightgray; background-size: cover;}
h1 {text-align:center; color:orange;}
p {text-align:center; font-weight:bold;}
table {}
td {font-weight:bold}
th {text-decoration:underline}
g {float:right}
h2 {text-align: center;}

#apart{
  display: inline-block;
  }

#piechart{ margin-left: auto; margin-right: auto}

/* Reset Body Property */
body{border:0; margin:0; padding:0;}
#navbar-container{background:#000000;}
#int-site-container{
background:url(img/int-bg.png) left top repeat-x;
height:166px;
}
#logo, #navbar, #int-site{
width:800px;
margin:0 auto;
}
/*------------------*/
/* LOGO */
#logo{height:54px;}

/*------------------*/
/* Nav Bar */
#navbar{
height:26px;
line-height:26px;
}
#navbar a:link, #navbar a:visited, #navbar a:hover{
color:#FFFFFF;
font-weight:bold;
margin-right:20px;
text-decoration:none;
}

.date2{float:right;}
.date{ position:absolute;
  top:0px;
  right:0;}

.header{ position:absolute;
  top:20%
    background-color: blue;}

.box{ position:relative;}
.tl{ position:absolute;
  top:10%;
  left:0;}
.tr{ position:absolute;
  top:10%;
  left:300px;}
.bl{ position:absolute;
  bottom:0%;
  left:0;}
.br{ position:absolute;
  bottom:0%;
  left:300px;}
.ab{position:absolute;
  top:30%;
  left:600px;}
td, th {
  border: solid 1px black;
  padding: 1px;
}
