
body {background-color:lightgray; background-size: cover;}
h1 {text-align:center}
p {text-align:center; font-weight:bold;}
table {}
td {font-weight:bold}
th {text-decoration:underline}
g {float:right}
h2 {text-align: center;}

.date{ position:absolute;
  top:0;
  right:0;}

.header{ position:absolute;
  top:20%
    background-color: blue;}

.box{ position:relative;}
.tl{ position:absolute;
  top:10%;
  left:0;}
.tr{ position:absolute;
  top:10%;
  left:300px;}
.bl{ position:absolute;
  bottom:0%;
  left:0;}
.br{ position:absolute;
  bottom:0%;
  left:300px;}
.ab{position:absolute;
  top:30%;
  left:600px;}
td, th {
  border: solid 1px black;
  padding: 1px;
}
