
body {background-color:#2eccfa; background-size: cover;}
h1 {text-align:center}
p {text-align:center; font-weight:bold;}
table {text-align:center}
td {font-weight:bold}
th {text-decoration:underline}
g {float:right}
h2 {text-align: center;}